{% extends '::base.html.twig' %}

{% block content %}
<h2>Mis see on?</h2>
<p>Munitsipaalpolitsei piletikontrollijate asupaikade info allikas</p>

<h2>Milleks?</h2>
<p>Autor ei ole rahul Tallinna ühistranspordi süsteemiga ja see veebileht on tema rahumeelne protest.</p>

<h2>Kuidas töötab?</h2>
<p>Peale lisamist läbi "Lisa" vormi läheb info otse esilehele, kus saab hääletada selle poolt (kui nägite patrulli umbes samas kohas) või vastu (kui olete kindel, et patrulli polnud seal). Pärast teatud punktide saamist läheb info automaatselt twitterisse. </p>

<h2>Info allikas?</h2>
<p>Info allikas on inimeste poolt saadetud raportid läbi "Lisa" vormi.</p>

<h2>Kui täpne on see info?</h2>
<p>Info täpsus sõltub ainult inimestest kes seda lehte kasutavad. Tõenäoliselt Twitteris (@mupowatch) on info päris täpne, kuna sinna saamiseks peab sellel infol olema piisavalt hääli.</p>
{% endblock %}